{{ form_start(form) }}
Imię
    {{ form_widget(form.imie) }} <br>
Nazwisko
{{ form_widget(form.nazwisko) }} <br>

Ilość osób:
{{ form_widget(form.iloscOsob, {'attr':{'min' : '0','max':'20'}})}} <br>
Przyczepa
{{ form_widget(form.przyczepa) }} <br>
Namiot
{{ form_widget(form.namiot) }} <br>
Samochod
{{ form_widget(form.samochod) }} <br>
Data przyjazdu
{{ form_widget(form.dataPrzyjazdu)}}
Data odjazdu
{{ form_widget(form.dataOdjazdu) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
